.raihan-red {
  background-color: #ffaabb;
}
.raihan-red-sub {
  background-color: #fbc;
}
.raihan-bg {
  background-color: linear-gradient(#fee, #fff);
}
.raihan-r10 {
  border-radius: 10px;
}
.raihan-m10 {
  margin: 10px;
}
.raihan-p10 {
  padding: 10px;
}
